.remove__button {
  padding: 1px 6px;
  border-radius: 3px;
  color: #6b808c;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 6px;
  border: none;
  background: none;
  transition: color 200ms;
  &:hover {
    background-color: #979797;
    color: #ffffff;
  }
  &__loader {
    position: absolute;
    top: 8px;
    right: 6px;
  }
}
