.header {
  position: fixed;
  box-sizing: border-box;
  height: 64px;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px;
  padding-left: 8px;
  color: #ffffff;
  background-color: rgba(0,0,0,0.4);
  z-index: 20;
  &__wrapper {
    display: flex;
    align-items: center;
    
  }
  &__logo {
    width: 56px;
  }
  &__owner {
    font-weight: bold;
    padding-left: 12px;
    color: white;
  }
  &__breadcrumb {
    font-size: 18px;
    margin: 0;
  }
}